
<div class="color-selection__wrapper">

    <div class="color-selection__type-wrapper">

        <button class="@cssTypeButton" title="@GetTitle(ColorSelectionType)" @onclick="ChangeListVisibility">
            <img src="@GetImageSrc(ColorSelectionType)" alt="@GetTitle(ColorSelectionType)" />
        </button>

        @if (isListVisible)
        {
            <ul class="color-selection__list">
                @{ foreach (EnumColorSelectionType type in Enum.GetValues(typeof(EnumColorSelectionType)))
                    {
                        <li class="color-selection__list-item">
                            <button class="color-selection__list-button" @onclick="()=>ChangeSelectionType(type)">
                                <img src="@GetImageSrc(type)" />
                                @GetTitle(type)
                            </button>
                        </li>
                    }
                }
            </ul>
        }

    </div>

    @if (isFileButtonVisible)
    {
        <div class="color-selection__file-wrapper">
            <label class="color-selection__file-label" title="open file">
                ...
                <InputFile class="color-selection__file-input" OnChange="@OnInputFileChange" accept="image/*" />
            </label>
        </div>
    }

    <div class="@cssMask" @onclick="HideList">
    </div>

</div>

@code {
    [Parameter]
    public EnumColorSelectionType ColorSelectionType { get; set; }
    [Parameter]
    public EventCallback<EnumColorSelectionType> ColorSelectionTypeChanged { get; set; }
    [Parameter]
    public IBrowserFile SelectedFile { get; set; }
    [Parameter]
    public EventCallback<IBrowserFile> SelectedFileChanged { get; set; }

    bool isListVisible = false;

    bool isFileButtonVisible => ColorSelectionType != EnumColorSelectionType.Palette;

    string cssTypeButton
    {
        get
        {
            var css = "color-selection__type-button";
            if (isListVisible)
                css += " color-selection__type-button--list";
            if (isFileButtonVisible)
                css += " color-selection__type-button--file";
            return css;
        }
    }

    string cssMask => isListVisible ? "color-selection__list-mask color-selection__list-mask--visible" : "color-selection__list-mask";

    string GetTitle(EnumColorSelectionType selectionType)
    {
        return selectionType switch
        {
            EnumColorSelectionType.Palette => "from palette",
            EnumColorSelectionType.Image => "from image",
            _ => string.Empty,
        };
    }

    string GetImageSrc(EnumColorSelectionType selectionType)
    {
        var fileName = selectionType switch
        {
            EnumColorSelectionType.Palette => "palette-icon",
            EnumColorSelectionType.Image => "image-icon",
            _ => string.Empty,
        };
        return $"/assets/{fileName}.svg";
    }

    void ChangeListVisibility() => isListVisible = !isListVisible;

    void HideList() => isListVisible = false;

    async Task ChangeSelectionType(EnumColorSelectionType selectionType)
    {
        ColorSelectionType = selectionType;
        await ColorSelectionTypeChanged.InvokeAsync(ColorSelectionType);
        isListVisible = false;

        if (ColorSelectionType == EnumColorSelectionType.Palette)
        {
            SelectedFile = null;
            await SelectedFileChanged.InvokeAsync(SelectedFile);
        }
    }

    async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        SelectedFile = e.File;
        await SelectedFileChanged.InvokeAsync(SelectedFile);
    }
}
