
<div class="color-info__wrapper">

    <div class="@cssBasicView">

        <button class="color-info__button-add" title="add color">
            <img src="/assets/add-icon.svg" alt="" />
        </button>

        <div class="@cssColorView" style="background-color: @ColorHex;"></div>

        <InputHex @bind-Value="ColorHex" IsLabelHidden="@(!fullView)" IsBold="@fullView" />

        <button class="@cssButtonDetalis" @onclick="ChangeView" title="show/hide details">
            <img src="/assets/dropdown-icon.svg" />
        </button>

    </div>

    @if (fullView)
    {
        <div class="color-info__full-view">

            <div class="color-info__color-big-view" style="background-color: @ColorHex;"></div>

            <InputRGB @bind-Value="ColorHex" />
            <InputHSL @bind-Value="ColorHex" />
            <InputName @bind-Value="ColorHex" />


        </div>

        <ColorBar ColorHex="@ColorHex" ColorBarType="@EnumColorBarType.Lightness" />
        <ColorBar ColorHex="@ColorHex" ColorBarType="@EnumColorBarType.Saturation" />
        <ColorBar ColorHex="@ColorHex" ColorBarType="@EnumColorBarType.Hue" />

        <div class="color-info__color-fit">

            <ColorFitText TextColor="@ColorHex" BackgroundColor="#000000" />
            <ColorFitText TextColor="@ColorHex" BackgroundColor="#ffffff" />
            <ColorFitText TextColor="#000000" BackgroundColor="@ColorHex" />
            <ColorFitText TextColor="#ffffff" BackgroundColor="@ColorHex" />
            <ColorFitBorder BorderColor="@ColorHex" BackgroundColor="#000000" />
            <ColorFitBorder BorderColor="@ColorHex" BackgroundColor="#ffffff" />

        </div>

    }

</div>

@code {
    [Parameter]
    public string ColorHex { get; set; }

    private bool fullView = false;

    private string cssBasicView => fullView ? "color-info__basic-view color-info__basic-view--full" : "color-info__basic-view";
    private string cssColorView => fullView ? "color-info__color-view color-info__color-view--hidden" : "color-info__color-view";
    private string cssButtonDetalis => fullView ? "color-info__button-view color-info__button-view--full" : "color-info__button-view";

    private void ChangeView()
    {
        fullView = !fullView;
    }
}
