
<div class="color-info__wrapper">

    <div class="color-info__basic-view">

        <button class="@cssButtonAdd">
            <img src="/assets/add-icon.svg" />
        </button>

        <div class="@cssColorView" style="background-color: @ColorHex;"></div>

        <InputHex @bind-Value="ColorHex" IsLabelHidden="@(!fullView)" IsBold="@fullView" />

        <button class="@cssButtonDetalis" @onclick="ChangeView">
            <img src="/assets/dropdown-icon.svg" />
        </button>

    </div>

    @if (fullView)
    {
        <div class="color-info__full-view">

            <div class="color-info__color-big-view" style="background-color: @ColorHex;"></div>

            <InputRGB @bind-Value="ColorHex" />
            <InputHSL @bind-Value="ColorHex" />
            <InputName @bind-Value="ColorHex" />

        </div>
    }

</div>

@code {
    [Parameter]
    public string ColorHex { get; set; }

    private bool fullView = false;

    private string cssButtonAdd => fullView ? "color-info__button-add color-info__button-add--details" : "color-info__button-add";
    private string cssColorView => fullView ? "color-info__color-view color-info__color-view--hidden" : "color-info__color-view";
    private string cssButtonDetalis => fullView ? "color-info__button-view color-info__button-view--full" : "color-info__button-view";

    private void ChangeView()
    {
        fullView = !fullView;
    }
}
