@using BlazorColorPicker
@inject ISettingsService settingsService;
@inject ISchemeService schemeService;

<div class="@cssWrapper">

    <div class="side-bar__header">

        <img class="side-bar__logo" src="/assets/logo-icon.svg" />

        <h3 class="side-bar__title">ColorBook</h3>

        @if (isCollapsed)
        {
            <button class="side-bar__menu-button" @onclick="ShowMenu">
                <img src="/assets/menu-icon.svg" />
            </button>
        }
        else
        {
            <button class="side-bar__close-button" @onclick="HideMenu">
                <SvgIcon SvgUrl="/assets/close-icon.svg" />
            </button>
        }
    </div>

    @if (!isCollapsed)
    {
        <ul class="side-bar__list">

            <li class="side-bar__list-item side-bar__list-item--action" @onclick="CreateScheme">
                <img src="/assets/create-scheme-icon.svg" title="create scheme" />
                Create scheme
            </li>

            <li class="@cssLoadScheme">
                <img src="/assets/load-scheme-icon.svg" title="load scheme" />
                Load scheme
                <div class="side-bar__down-icon">
                    <SvgIcon SvgUrl="/assets/dropdown-icon.svg" />
                </div>
                <ul class="side-bar__sublist">
                    <li class="side-bar__sublist-item side-bar__sublist-item--no-padding">
                        <label class="side-bar__file-label">
                            from file...
                            <InputFile class="side-bar__file-input" OnChange="LoadSchemeFromFile" accept="application/JSON" />
                        </label>

                    </li>
                    <li class="side-bar__sublist-item" @onclick="ChangeLibraryVisibility">
                        from library
                        <div class="@cssLibraryIcon">
                            <SvgIcon SvgUrl="/assets/dropdown-icon.svg" />
                        </div>
                    </li>
                </ul>
            </li>

            <li class="side-bar__list-item side-bar__list-item--blank"></li>

            <li class="side-bar__list-item side-bar__list-item--action" @onclick="ChangeSettingsVisibility">
                <img src="/assets/settings-icon.svg" />
                Settings
                <div class="@cssSettingsIcon">
                    <SvgIcon SvgUrl="/assets/dropdown-icon.svg" />
                </div>
            </li>

        </ul>

    }

    <div class="@cssSubMenu">

        @if (!isLibraryCollapsed)
        {
            <div class="side-bar__library-wrapper">

                <h4 class="side-bar__library-header">
                    Schemes library
                </h4>

                <ul class="side-bar__library-list">
                    @foreach (var scheme in library)
                    {
                        <li class="side-bar__library-list-item" @key="scheme.Id" @onclick="()=>LoadSchemeFromLibrary(scheme.Id)">
                            @scheme.Name
                        </li>
                    }
                </ul>

            </div>
        }

        @if (!isSettingsCollapsed)
        {
            <div class="side-bar__settings-wrapper">
                <h4 class="side-bar__settings-header">
                    Background sample
                </h4>
                <SettingsColor SettingsColorType="@EnumSettingsColorType.LightBackground"
                               Label="light:" ColorHex="@currentSettings.LightBackgroundColor" ColorPickerOpened="OpenColorPicker" />
                <SettingsColor SettingsColorType="@EnumSettingsColorType.DarkBackground"
                               Label="dark:" ColorHex="@currentSettings.DarkBackgroundColor" ColorPickerOpened="OpenColorPicker" />

                <h4 class="side-bar__settings-header">
                    Text sample
                </h4>
                <SettingsColor SettingsColorType="@EnumSettingsColorType.LightText"
                               Label="light:" ColorHex="@currentSettings.LightTextColor" ColorPickerOpened="OpenColorPicker" />
                <SettingsColor SettingsColorType="@EnumSettingsColorType.DarkText"
                               Label="dark:" ColorHex="@currentSettings.DarkTextColor" ColorPickerOpened="OpenColorPicker" />

                <button class="side-bar__restore-button" @onclick="RestoreDefaults">
                    <img src="/assets/restore-icon.svg" />
                    Restore defaults
                </button>
            </div>
        }

    </div>

</div>

<ColorPicker Title="Choose color" IsOpened="isColorPickerOpened" Closed="ClosedColorPicker" MyColor="@colorPickerColor" />

<div class="@cssMask"></div>

@code {
    [Parameter]
    public EventCallback<ColorScheme> SchemeLoaded { get; set; }

    Settings currentSettings;
    ColorScheme[] library;

    bool isCollapsed = true;
    string cssWrapper => isCollapsed ? "side-bar__wrapper side-bar__wrapper--collapsed" : "side-bar__wrapper";
    string cssMask => isCollapsed ? "side-bar__mask" : "side-bar__mask side-bar__mask--visible";

    string cssLoadScheme => isLibraryCollapsed ? "side-bar__list-item" : "side-bar__list-item side-bar__list-item--hover";

    string cssSubMenu => isCollapsed ? "side-bar__submenu-wrapper--hidden" :
        isLibraryCollapsed && isSettingsCollapsed ? "side-bar__submenu-wrapper side-bar__submenu-wrapper--collapsed" : "side-bar__submenu-wrapper";

    bool isLibraryCollapsed = true;
    string cssLibraryIcon => isLibraryCollapsed ? "side-bar__right-icon" : "side-bar__right-icon side-bar__right-icon--opened";

    bool isSettingsCollapsed = true;
    string cssSettingsIcon => isSettingsCollapsed ? "side-bar__right-icon" : "side-bar__right-icon side-bar__right-icon--opened";


    protected override async Task OnInitializedAsync()
    {
        currentSettings = await settingsService.GetCurrentSettingsAsync();
        library = await schemeService.LibraryListAsync();
    }

    async Task CreateScheme()
    {
        var scheme = schemeService.GetEmptyScheme();
        await LoadScheme(scheme);
    }

    async Task LoadSchemeFromFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var buffers = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffers);
        var stringData = System.Text.Encoding.UTF8.GetString(buffers);
        var scheme = System.Text.Json.JsonSerializer.Deserialize<ColorScheme>(stringData);
        await LoadScheme(scheme);
    }

    async Task LoadSchemeFromLibrary(Guid id)
    {
        var scheme = library.Single(r => r.Id == id);
        await LoadScheme(scheme);
    }

    async Task LoadScheme(ColorScheme scheme)
    {
        await SchemeLoaded.InvokeAsync(scheme);
        HideMenu();
    }

    void ShowMenu()
    {
        isCollapsed = false;
    }

    void HideMenu()
    {
        isLibraryCollapsed = true;
        isSettingsCollapsed = true;
        isCollapsed = true;
    }

    void ChangeSettingsVisibility()
    {
        isSettingsCollapsed = !isSettingsCollapsed;
        if (!isSettingsCollapsed)
            isLibraryCollapsed = true;
    }

    void ChangeLibraryVisibility()
    {
        isLibraryCollapsed = !isLibraryCollapsed;
        if (!isLibraryCollapsed)
            isSettingsCollapsed = true;
    }

    void RestoreDefaults()
    {
        settingsService.RestoreDefaultSettings();
    }


    bool isColorPickerOpened = false;
    string colorPickerColor;
    EnumSettingsColorType settingsColorType;

    void OpenColorPicker(EnumSettingsColorType colorType)
    {
        settingsColorType = colorType;
        colorPickerColor = GetSettingsColor(colorType);
        isColorPickerOpened = true;
    }

    async Task ClosedColorPicker(string value)
    {
        SetSettingsColor(settingsColorType, value);
        isColorPickerOpened = false;
        await settingsService.SaveSettingsAsync(currentSettings);
    }

    string GetSettingsColor(EnumSettingsColorType settingsColorType)
    {
        return settingsColorType switch
        {
            EnumSettingsColorType.LightBackground => currentSettings.LightBackgroundColor,
            EnumSettingsColorType.DarkBackground => currentSettings.DarkBackgroundColor,
            EnumSettingsColorType.LightText => currentSettings.LightTextColor,
            EnumSettingsColorType.DarkText => currentSettings.DarkTextColor,
            _ => string.Empty,
        };
    }
    void SetSettingsColor(EnumSettingsColorType settingsColorType, string color)
    {
        switch (settingsColorType)
        {
            case EnumSettingsColorType.LightBackground:
                currentSettings.LightBackgroundColor = color;
                break;
            case EnumSettingsColorType.DarkBackground:
                currentSettings.DarkBackgroundColor = color;
                break;
            case EnumSettingsColorType.LightText:
                currentSettings.LightTextColor = color;
                break;
            case EnumSettingsColorType.DarkText:
                currentSettings.DarkTextColor = color;
                break;
            default:
                break;
        }
    }
}
