@using System.ComponentModel.DataAnnotations

<div class="sync-info__wrapper">

    <h4 class="sync-info__header">
        Server
    </h4>

    <div class="sync-info__server-wrapper">

        <div class="@cssServerIcon"></div>

        <div class="@cssServerStatus">@serverStatus</div>

    </div>

    <h4 class="sync-info__header">
        User
    </h4>

    @if (IsLoggedIn)
    {
        <div class="sync-info__user-name">
            @UserName
        </div>

        <button class="sync-info__login-button" @onclick="LogOut">
            log out
        </button>
    }
    else
    {
        <EditForm class="sync-info__user-wrapper" Model="@user" OnSubmit="OnUserSubmit">
            <DataAnnotationsValidator />

            <div class="@cssDisabledMask">
            </div>

            <label class="sync-info__text-label">
                Login:
                <InputText @bind-Value="user.Login" />
            </label>
            <ValidationMessage For="() => user.Login" />

            <label class="sync-info__text-label">
                Password:
                <InputPassword @bind-Password="user.Password" />
            </label>
            <ValidationMessage For="() => user.Password" />

            <label class="sync-info__check-label">
                <InputCheckbox @bind-Value="user.StayLoggedId" />
                stay logged in
            </label>

            <input type="submit" class="sync-info__login-button" value="log in" />

        </EditForm>
    }

</div>

@code {
    [Parameter]
    public bool IsServerAvailable { get; set; }
    [Parameter]
    public EventCallback<bool> IsServerAvailableChanged { get; set; }

    [Parameter]
    public bool IsLoggedIn
    {
        get => user.IsLoggedIn;
        set
        {
            if (user.IsLoggedIn == value)
                return;
            user.IsLoggedIn = value;
            IsLoggedInChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<bool> IsLoggedInChanged { get; set; }

    [Parameter]
    public string UserName
    {
        get => user.Login;
        set => user.Login = value;
    }
    [Parameter]
    public EventCallback<string> UserNameChanged { get; set; }

    SyncUser user = new SyncUser();

    bool isSyncActive => IsServerAvailable && IsLoggedIn;

    string serverStatus => IsServerAvailable ? "online" : "offline";
    string cssServerIcon => IsServerAvailable ? "sync-info__server-icon sync-info__server-icon--online" : "sync-info__server-icon";
    string cssServerStatus => IsServerAvailable ? "sync-info__server-status sync-info__server-status--online" : "sync-info__server-status";

    string cssDisabledMask => IsServerAvailable ? "sync-info__disabled-mask" : "sync-info__disabled-mask sync-info__disabled-mask--visible";

    protected override async Task OnInitializedAsync()
    {
        await CheckServerAvailability();
    }


    async Task CheckServerAvailability()
    {
        var isAvailable = false;//new Random().Next(0, 2) != 0;

        IsServerAvailable = isAvailable;
        await IsServerAvailableChanged.InvokeAsync(IsServerAvailable);

        Console.WriteLine($"server: {serverStatus}");
    }

    void OnUserSubmit(EditContext editContext)
    {
        bool isValid = editContext.Validate();
        var model = editContext.Model as SyncUser;

        if (isValid)
            LogIn();
        else
            model.IsLoggedIn = false;
    }

    public void LogIn()
    {
        IsLoggedIn = true;
    }

    public void LogOut()
    {
        IsLoggedIn = false;
        user.Password = null;
    }


    public class SyncUser
    {
        [Required]
        public string Login { get; set; }
        [Required]
        public string Password { get; set; }
        public bool StayLoggedId { get; set; }

        public bool IsLoggedIn { get; set; }
    }
}
