@using System.ComponentModel.DataAnnotations
@inject ISyncService syncService

<div class="sync-menu__wrapper">

    <h4 class="sync-menu__header">
        Server
    </h4>

    <div class="sync-menu__server-wrapper">

        <div class="@cssServerIcon"></div>

        <div class="@cssServerStatus">@serverStatus</div>

    </div>

    <h4 class="sync-menu__header">
        User
    </h4>

    @if (isLoggedIn)
    {
        <div class="sync-menu__user-name">
            @user.Login
        </div>

        <button class="sync-menu__login-button" @onclick="LogOut">
            log out
        </button>
    }
    else
    {
        <EditForm class="sync-menu__user-wrapper" Model="@user" OnValidSubmit="OnUserSubmit">
            <DataAnnotationsValidator />

            <div class="@cssDisabledMask">
            </div>

            <label class="sync-menu__text-label">
                Login:
                <InputText @bind-Value="user.Login" />
            </label>
            <ValidationMessage For="() => user.Login" />

            <label class="sync-menu__text-label">
                Password:
                <InputPassword @bind-Password="user.Password" />
            </label>
            <ValidationMessage For="() => user.Password" />

            <label class="sync-menu__check-label">
                <InputCheckbox @bind-Value="user.StayLoggedId" disabled="true" />
                stay logged in
            </label>

            @if (invalidUser)
            {
                <div class="validation-message">
                    invalid login or password
                </div>
            }

            <button type="submit" class="sync-menu__login-button">
                log in
            </button>

        </EditForm>
    }

</div>

@code {
    bool isServerAvailable;

    UserFormModel user = new UserFormModel();
    public bool isLoggedIn;
    bool invalidUser = false;

    string serverStatus => isServerAvailable ? "online" : "offline";
    string cssServerIcon => isServerAvailable ? "sync-menu__server-icon sync-menu__server-icon--online" : "sync-menu__server-icon";
    string cssServerStatus => isServerAvailable ? "sync-menu__server-status sync-menu__server-status--online" : "sync-menu__server-status";

    string cssDisabledMask => isServerAvailable ? "sync-menu__disabled-mask" : "sync-menu__disabled-mask sync-menu__disabled-mask--visible";

    protected override async Task OnInitializedAsync()
    {
        isServerAvailable = await syncService.GetServerAvailabilityAsync();
        isLoggedIn = await syncService.GetIsLoggedInAsync();

        if (isLoggedIn)
            user.Login = syncService.GetLoggedUser().Login;
        else
            user.Login = await syncService.GetLastUserNameAsync();
    }

    async Task OnUserSubmit(EditContext editContext)
    {
        var model = editContext.Model as UserFormModel;
        await LogIn(model.StayLoggedId);
    }

    async Task LogIn(bool stayLoggedId)
    {
        isLoggedIn = await syncService.LogInAsync(new User(user.Login, user.Password), stayLoggedId);
        invalidUser = !isLoggedIn;
    }

    async Task LogOut()
    {
        await syncService.LogOutAsync();
        isLoggedIn = false;
        user.Password = null;
    }


    public class UserFormModel
    {
        [Required]
        public string Login { get; set; }
        [Required]
        public string Password { get; set; }
        public bool StayLoggedId { get; set; }
    }
}
