@page "/"

<h1>Hello, world!</h1>

<InputHex Value="@colorHex" />
<InputRGB R="@colorR" G="@colorG" B="@colorB" />
<InputHSL H="@colorR" S="@colorG" L="@colorB" />


@code {
    string colorHex = "#ff00ff";
    int colorR;
    int colorG;
    int colorB;
}