@page "/"
@inject IJSRuntime JS

<h1>Hello, world!</h1>

<InputHex Value="@colorHex" />
<InputRGB R="@colorR" G="@colorG" B="@colorB" />
<InputHSL H="@colorR" S="@colorG" L="@colorB" />


<ColorInfo ColorHex="@colorHex" />

<ColorFitText TextColor="@colorHex" BackgroundColor="#000000" />
<ColorFitText TextColor="@colorHex" BackgroundColor="#ffffff" />
<ColorFitText TextColor="#000000" BackgroundColor="@colorHex" />
<ColorFitText TextColor="#ffffff" BackgroundColor="@colorHex" />

<ColorFitBorder BorderColor="@colorHex" BackgroundColor="#000000" />
<ColorFitBorder BorderColor="@colorHex" BackgroundColor="#ffffff" />

@*<LightnesBar/>*@

<ColorInfoFull ColorHex="@colorHex"/>

<button @onclick="Test">Test</button>

@code {
    string colorHex = "#ff00ff";
    int colorR;
    int colorG;
    int colorB;

    async Task Test()
    {
        var x = await JS.InvokeAsync<string>("ColorLib.colorTest");
    }
}